{% extends 'layout.html' %}
{% block title %}Add Product{% endblock %}

{% block content %}
<center><h2>Admin panel</h2></center>
<h4>Add Product</h4> 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<form action = "{{ url_for('add_product') }}" method="post">
    <div class="form-group">
      <label for="name">Product Name</label>
      <input type="text" class="form-control" name="name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter product name">
    </div>
    <div class="form-group">
      <label for="link">Link to image</label>
      <input type="text" class="form-control" name="link" id="exampleInputPassword1" placeholder="Link">
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="laptop" id="exampleRadios1" value="option1" checked>
        <label class="form-check-label" for="laptop">
          Laptop
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="mobile" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="mobile">
          Mobile
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="camera" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="camera">
          Camera
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="tv" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="tv">
          TV
        </label>
      </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
  {% if msg1|length > 0 %}
  <p style="color: red;">{{ msg1 }}</p>
  {% endif %}
<br>
<h4>Add link</h4>
  
  <form action="{{ url_for('search2') }}" method="post">
    <div class="form-group">
      <label for="keyword">Search Product</label>
      <input type="text" name = "keyword" class="form-control" placeholder="Search Product">
    </div>
  </form>

<table class="table">
  {% if data|length > 0 %}
  <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Name</th>
    </tr>
  </thead>
{% for item in data %}
<tr>
        <td> {{ item['id'] }} </td>
        <td><img src = {{ item['image'] }} style = 'height: 200px'></td>
        <td>
                {{item['name']}}
        </td>
</tr>
{% endfor %}
</table>
{% endif %}
  <form action = "{{ url_for('add_sells') }}" method="post">
    <div class="form-group">
      <label for="id">Product ID</label>
      <input type="text" class="form-control" name ="id" placeholder="Enter product id" required>
    </div>
    <div class="form-group">
      <label for="store">Store</label>
      <input type="text" class="form-control" name = "store" placeholder="Enter store name" required>
    </div>
    <div class="form-group">
      <label for="link">Link</label>
      <input type="text" class="form-control" name = "link" placeholder="Enter link" required>
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="text" class="form-control" name= "price" placeholder="Enter price" required>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
  {% if msg|length > 0 %}
<p style="color: red;">{{ msg }}</p>
{% endif %}
{% endblock %}