{% extends 'layout.html' %}

{% block title %}Product page{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<h2>Product Page</h2>

<h4>Best price: ₹{{ best_price }}</h4>
<h4>Get the best price at: <a href="{{ best_link }}">Click here</a></h4> 

<form action="{{ url_for('review', p_id =id) }}" method="post">
    <div class="form-group">
        <label for="review">Review</label>
        <input name="review" type="text" class="form-control" placeholder="Add review" size=50 required style="height: 70px;">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
<table class = "table">
    <thead class = "thead-dark">
    <tr>
        <th>User</th>
        <th>Review</th>
    </tr>
    </thead>
{% for item in data %}
<tr>
        <td>{{ item[1]['name'] }}</td>
        <td>
            {{ item[0] }}
        </td>
</tr>
{% endfor %}
</table>
<p style='color:RED'>{{ msg }}</p>
<h3>Users who viewed this also viewed:-</h3>
<table class = "table">
    <thead class = "thead-dark">
    <tr>
        <th>Image</th>
        <th>Name</th>
    </tr>
    </thead>
{% if viewed|length > 1 %}
{% for item in viewed %}
<tr>
        <td><img src = {{ item['image'] }} style = 'height: 200px'></td>
        <td>
            <a href={{ url_for('one_item', id = item['p_id'] ) }}> 
                {{item['name']}}
            </a>
        </td>
</tr>
{% endfor %}
{% endif %}
</table>
{% endblock %}