{% extends 'layout.html' %}

{% block title %}Store portal{% endblock %}

{% block content %}
<h3>Number of clicks to your website: {{ clicks }} <h3>
<h4>Following are the products which led our users to your site: </h4>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Rank</th>
        <th>Product</th>
        <th>Clicks</th>
    </tr>
</thead>
{% for item in data %}
<tr>
        <td>
            {{ item['myrank'] }}
        </td>
        <td>
            {{ item['name'] }}
        </td>
        <td>
            {{ item['count(p_id)'] }}
        </td>
</tr>
{% endfor %}
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Store</th>
        <th>Clicks</th>
    </tr>
</thead>
<h3>Your competitors</h3>
{% for item in others %}
<tr>
        <td>
            {{ item['name'] }}
        </td>
        <td>
            {{ item['count(s_id)'] }}
        </td>
</tr>
{% endfor %}
</table>

{% endblock %}